<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.erp.web.interface.PpRecipeMapper">
  <resultMap id="BaseResultMap" type="com.tan.erp.web.entity.PpRecipe">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="recipe_code" jdbcType="VARCHAR" property="recipeCode" />
    <result column="recipe_name" jdbcType="VARCHAR" property="recipeName" />
    <result column="intensity_level" jdbcType="VARCHAR" property="intensityLevel" />
    <result column="water_binder_ratio" jdbcType="VARCHAR" property="waterBinderRatio" />
    <result column="sand_rate" jdbcType="VARCHAR" property="sandRate" />
    <result column="slump" jdbcType="VARCHAR" property="slump" />
    <result column="cement1" jdbcType="VARCHAR" property="cement1" />
    <result column="cement2" jdbcType="VARCHAR" property="cement2" />
    <result column="cement3" jdbcType="VARCHAR" property="cement3" />
    <result column="sand1" jdbcType="VARCHAR" property="sand1" />
    <result column="sand2" jdbcType="VARCHAR" property="sand2" />
    <result column="sand3" jdbcType="VARCHAR" property="sand3" />
    <result column="big_stone" jdbcType="VARCHAR" property="bigStone" />
    <result column="middle_stone" jdbcType="VARCHAR" property="middleStone" />
    <result column="small_stone" jdbcType="VARCHAR" property="smallStone" />
    <result column="flyash" jdbcType="VARCHAR" property="flyash" />
    <result column="mine_powder" jdbcType="VARCHAR" property="minePowder" />
    <result column="additive1" jdbcType="VARCHAR" property="additive1" />
    <result column="additive2" jdbcType="VARCHAR" property="additive2" />
    <result column="additive3" jdbcType="VARCHAR" property="additive3" />
    <result column="additive4" jdbcType="VARCHAR" property="additive4" />
    <result column="water" jdbcType="VARCHAR" property="water" />
    <result column="other1" jdbcType="VARCHAR" property="other1" />
    <result column="othe2" jdbcType="VARCHAR" property="othe2" />
    <result column="Impermeability_level" jdbcType="VARCHAR" property="impermeabilityLevel" />
    <result column="bend_level" jdbcType="VARCHAR" property="bendLevel" />
    <result column="sand_level" jdbcType="VARCHAR" property="sandLevel" />
    <result column="stone_diameter" jdbcType="VARCHAR" property="stoneDiameter" />
    <result column="apparent_density" jdbcType="VARCHAR" property="apparentDensity" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, recipe_code, recipe_name, intensity_level, water_binder_ratio, sand_rate, slump, 
    cement1, cement2, cement3, sand1, sand2, sand3, big_stone, middle_stone, small_stone, 
    flyash, mine_powder, additive1, additive2, additive3, additive4, water, other1, othe2, 
    Impermeability_level, bend_level, sand_level, stone_diameter, apparent_density, create_user, 
    create_user_name, create_time, modify_user, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pp_recipe
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pp_recipe
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tan.erp.web.entity.PpRecipe">
    insert into pp_recipe (id, recipe_code, recipe_name, 
      intensity_level, water_binder_ratio, sand_rate, 
      slump, cement1, cement2, 
      cement3, sand1, sand2, 
      sand3, big_stone, middle_stone, 
      small_stone, flyash, mine_powder, 
      additive1, additive2, additive3, 
      additive4, water, other1, 
      othe2, Impermeability_level, bend_level, 
      sand_level, stone_diameter, apparent_density, 
      create_user, create_user_name, create_time, 
      modify_user, modify_time)
    values (#{id,jdbcType=BIGINT}, #{recipeCode,jdbcType=VARCHAR}, #{recipeName,jdbcType=VARCHAR}, 
      #{intensityLevel,jdbcType=VARCHAR}, #{waterBinderRatio,jdbcType=VARCHAR}, #{sandRate,jdbcType=VARCHAR}, 
      #{slump,jdbcType=VARCHAR}, #{cement1,jdbcType=VARCHAR}, #{cement2,jdbcType=VARCHAR}, 
      #{cement3,jdbcType=VARCHAR}, #{sand1,jdbcType=VARCHAR}, #{sand2,jdbcType=VARCHAR}, 
      #{sand3,jdbcType=VARCHAR}, #{bigStone,jdbcType=VARCHAR}, #{middleStone,jdbcType=VARCHAR}, 
      #{smallStone,jdbcType=VARCHAR}, #{flyash,jdbcType=VARCHAR}, #{minePowder,jdbcType=VARCHAR}, 
      #{additive1,jdbcType=VARCHAR}, #{additive2,jdbcType=VARCHAR}, #{additive3,jdbcType=VARCHAR}, 
      #{additive4,jdbcType=VARCHAR}, #{water,jdbcType=VARCHAR}, #{other1,jdbcType=VARCHAR}, 
      #{othe2,jdbcType=VARCHAR}, #{impermeabilityLevel,jdbcType=VARCHAR}, #{bendLevel,jdbcType=VARCHAR}, 
      #{sandLevel,jdbcType=VARCHAR}, #{stoneDiameter,jdbcType=VARCHAR}, #{apparentDensity,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tan.erp.web.entity.PpRecipe">
    insert into pp_recipe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recipeCode != null">
        recipe_code,
      </if>
      <if test="recipeName != null">
        recipe_name,
      </if>
      <if test="intensityLevel != null">
        intensity_level,
      </if>
      <if test="waterBinderRatio != null">
        water_binder_ratio,
      </if>
      <if test="sandRate != null">
        sand_rate,
      </if>
      <if test="slump != null">
        slump,
      </if>
      <if test="cement1 != null">
        cement1,
      </if>
      <if test="cement2 != null">
        cement2,
      </if>
      <if test="cement3 != null">
        cement3,
      </if>
      <if test="sand1 != null">
        sand1,
      </if>
      <if test="sand2 != null">
        sand2,
      </if>
      <if test="sand3 != null">
        sand3,
      </if>
      <if test="bigStone != null">
        big_stone,
      </if>
      <if test="middleStone != null">
        middle_stone,
      </if>
      <if test="smallStone != null">
        small_stone,
      </if>
      <if test="flyash != null">
        flyash,
      </if>
      <if test="minePowder != null">
        mine_powder,
      </if>
      <if test="additive1 != null">
        additive1,
      </if>
      <if test="additive2 != null">
        additive2,
      </if>
      <if test="additive3 != null">
        additive3,
      </if>
      <if test="additive4 != null">
        additive4,
      </if>
      <if test="water != null">
        water,
      </if>
      <if test="other1 != null">
        other1,
      </if>
      <if test="othe2 != null">
        othe2,
      </if>
      <if test="impermeabilityLevel != null">
        Impermeability_level,
      </if>
      <if test="bendLevel != null">
        bend_level,
      </if>
      <if test="sandLevel != null">
        sand_level,
      </if>
      <if test="stoneDiameter != null">
        stone_diameter,
      </if>
      <if test="apparentDensity != null">
        apparent_density,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recipeCode != null">
        #{recipeCode,jdbcType=VARCHAR},
      </if>
      <if test="recipeName != null">
        #{recipeName,jdbcType=VARCHAR},
      </if>
      <if test="intensityLevel != null">
        #{intensityLevel,jdbcType=VARCHAR},
      </if>
      <if test="waterBinderRatio != null">
        #{waterBinderRatio,jdbcType=VARCHAR},
      </if>
      <if test="sandRate != null">
        #{sandRate,jdbcType=VARCHAR},
      </if>
      <if test="slump != null">
        #{slump,jdbcType=VARCHAR},
      </if>
      <if test="cement1 != null">
        #{cement1,jdbcType=VARCHAR},
      </if>
      <if test="cement2 != null">
        #{cement2,jdbcType=VARCHAR},
      </if>
      <if test="cement3 != null">
        #{cement3,jdbcType=VARCHAR},
      </if>
      <if test="sand1 != null">
        #{sand1,jdbcType=VARCHAR},
      </if>
      <if test="sand2 != null">
        #{sand2,jdbcType=VARCHAR},
      </if>
      <if test="sand3 != null">
        #{sand3,jdbcType=VARCHAR},
      </if>
      <if test="bigStone != null">
        #{bigStone,jdbcType=VARCHAR},
      </if>
      <if test="middleStone != null">
        #{middleStone,jdbcType=VARCHAR},
      </if>
      <if test="smallStone != null">
        #{smallStone,jdbcType=VARCHAR},
      </if>
      <if test="flyash != null">
        #{flyash,jdbcType=VARCHAR},
      </if>
      <if test="minePowder != null">
        #{minePowder,jdbcType=VARCHAR},
      </if>
      <if test="additive1 != null">
        #{additive1,jdbcType=VARCHAR},
      </if>
      <if test="additive2 != null">
        #{additive2,jdbcType=VARCHAR},
      </if>
      <if test="additive3 != null">
        #{additive3,jdbcType=VARCHAR},
      </if>
      <if test="additive4 != null">
        #{additive4,jdbcType=VARCHAR},
      </if>
      <if test="water != null">
        #{water,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null">
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="othe2 != null">
        #{othe2,jdbcType=VARCHAR},
      </if>
      <if test="impermeabilityLevel != null">
        #{impermeabilityLevel,jdbcType=VARCHAR},
      </if>
      <if test="bendLevel != null">
        #{bendLevel,jdbcType=VARCHAR},
      </if>
      <if test="sandLevel != null">
        #{sandLevel,jdbcType=VARCHAR},
      </if>
      <if test="stoneDiameter != null">
        #{stoneDiameter,jdbcType=VARCHAR},
      </if>
      <if test="apparentDensity != null">
        #{apparentDensity,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tan.erp.web.entity.PpRecipe">
    update pp_recipe
    <set>
      <if test="recipeCode != null">
        recipe_code = #{recipeCode,jdbcType=VARCHAR},
      </if>
      <if test="recipeName != null">
        recipe_name = #{recipeName,jdbcType=VARCHAR},
      </if>
      <if test="intensityLevel != null">
        intensity_level = #{intensityLevel,jdbcType=VARCHAR},
      </if>
      <if test="waterBinderRatio != null">
        water_binder_ratio = #{waterBinderRatio,jdbcType=VARCHAR},
      </if>
      <if test="sandRate != null">
        sand_rate = #{sandRate,jdbcType=VARCHAR},
      </if>
      <if test="slump != null">
        slump = #{slump,jdbcType=VARCHAR},
      </if>
      <if test="cement1 != null">
        cement1 = #{cement1,jdbcType=VARCHAR},
      </if>
      <if test="cement2 != null">
        cement2 = #{cement2,jdbcType=VARCHAR},
      </if>
      <if test="cement3 != null">
        cement3 = #{cement3,jdbcType=VARCHAR},
      </if>
      <if test="sand1 != null">
        sand1 = #{sand1,jdbcType=VARCHAR},
      </if>
      <if test="sand2 != null">
        sand2 = #{sand2,jdbcType=VARCHAR},
      </if>
      <if test="sand3 != null">
        sand3 = #{sand3,jdbcType=VARCHAR},
      </if>
      <if test="bigStone != null">
        big_stone = #{bigStone,jdbcType=VARCHAR},
      </if>
      <if test="middleStone != null">
        middle_stone = #{middleStone,jdbcType=VARCHAR},
      </if>
      <if test="smallStone != null">
        small_stone = #{smallStone,jdbcType=VARCHAR},
      </if>
      <if test="flyash != null">
        flyash = #{flyash,jdbcType=VARCHAR},
      </if>
      <if test="minePowder != null">
        mine_powder = #{minePowder,jdbcType=VARCHAR},
      </if>
      <if test="additive1 != null">
        additive1 = #{additive1,jdbcType=VARCHAR},
      </if>
      <if test="additive2 != null">
        additive2 = #{additive2,jdbcType=VARCHAR},
      </if>
      <if test="additive3 != null">
        additive3 = #{additive3,jdbcType=VARCHAR},
      </if>
      <if test="additive4 != null">
        additive4 = #{additive4,jdbcType=VARCHAR},
      </if>
      <if test="water != null">
        water = #{water,jdbcType=VARCHAR},
      </if>
      <if test="other1 != null">
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
      <if test="othe2 != null">
        othe2 = #{othe2,jdbcType=VARCHAR},
      </if>
      <if test="impermeabilityLevel != null">
        Impermeability_level = #{impermeabilityLevel,jdbcType=VARCHAR},
      </if>
      <if test="bendLevel != null">
        bend_level = #{bendLevel,jdbcType=VARCHAR},
      </if>
      <if test="sandLevel != null">
        sand_level = #{sandLevel,jdbcType=VARCHAR},
      </if>
      <if test="stoneDiameter != null">
        stone_diameter = #{stoneDiameter,jdbcType=VARCHAR},
      </if>
      <if test="apparentDensity != null">
        apparent_density = #{apparentDensity,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tan.erp.web.entity.PpRecipe">
    update pp_recipe
    set recipe_code = #{recipeCode,jdbcType=VARCHAR},
      recipe_name = #{recipeName,jdbcType=VARCHAR},
      intensity_level = #{intensityLevel,jdbcType=VARCHAR},
      water_binder_ratio = #{waterBinderRatio,jdbcType=VARCHAR},
      sand_rate = #{sandRate,jdbcType=VARCHAR},
      slump = #{slump,jdbcType=VARCHAR},
      cement1 = #{cement1,jdbcType=VARCHAR},
      cement2 = #{cement2,jdbcType=VARCHAR},
      cement3 = #{cement3,jdbcType=VARCHAR},
      sand1 = #{sand1,jdbcType=VARCHAR},
      sand2 = #{sand2,jdbcType=VARCHAR},
      sand3 = #{sand3,jdbcType=VARCHAR},
      big_stone = #{bigStone,jdbcType=VARCHAR},
      middle_stone = #{middleStone,jdbcType=VARCHAR},
      small_stone = #{smallStone,jdbcType=VARCHAR},
      flyash = #{flyash,jdbcType=VARCHAR},
      mine_powder = #{minePowder,jdbcType=VARCHAR},
      additive1 = #{additive1,jdbcType=VARCHAR},
      additive2 = #{additive2,jdbcType=VARCHAR},
      additive3 = #{additive3,jdbcType=VARCHAR},
      additive4 = #{additive4,jdbcType=VARCHAR},
      water = #{water,jdbcType=VARCHAR},
      other1 = #{other1,jdbcType=VARCHAR},
      othe2 = #{othe2,jdbcType=VARCHAR},
      Impermeability_level = #{impermeabilityLevel,jdbcType=VARCHAR},
      bend_level = #{bendLevel,jdbcType=VARCHAR},
      sand_level = #{sandLevel,jdbcType=VARCHAR},
      stone_diameter = #{stoneDiameter,jdbcType=VARCHAR},
      apparent_density = #{apparentDensity,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>