<#include "/view/layout/head.html">

<div id="app" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="queryParam.recipeCode" @keyup.enter="query" placeholder="配比编号">
            </div>
            <a id="query" class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-times"></i>&nbsp;删除</a>
            <a class="btn btn-primary" @click="importMixingPlant"><i class="fa fa-share"></i>&nbsp;导入搅拌楼</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default" style="height:400px">
        <div class="panel-heading">配比信息</div>
        <form class="form-edit">
            <input type="hidden" style="width:200px" v-model="recipe.id" />

            <table>
                <tr>
                    <th class="required">状态：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.status">
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                        </select>
                    </td>
                    <th class="required">配比编号：</th>
                    <td><input id="recipeCode" type="text" style="width:150px" v-model="recipe.recipeCode" readOnly=true/></td>
                    <th class="required">配比名称：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.recipeName"/></td>

                    <th>水胶比：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.waterBinderRatio">
                            <option value="">---请选择---</option>
                            <option value="1">水胶比1</option>
                            <option value="2">水胶比2</option>
                            <option value="3">水胶比3</option>

                        </select>
                    </td>
                </tr>

                <tr>
                    <th>砂率：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.sandRate">
                            <option value="">---请选择---</option>
                            <option value="0">砂率1</option>
                            <option value="1">砂率2</option>
                            <option value="2">砂率3</option>
                            <option value="3">砂率4</option>
                        </select>
                    </td>
                    <th>水泥1：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.cement1">
                            <option value="">---请选择---</option>
                            <option value="0">水泥品种1</option>
                            <option value="1">水泥品种2</option>
                            <option value="2">水泥品种3</option>
                            <option value="3">水泥品种4</option>
                        </select>
                    </td>
                    <th>水泥2：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.cement2">
                            <option value="">---请选择---</option>
                            <option value="0">水泥品种1</option>
                            <option value="1">水泥品种2</option>
                            <option value="2">水泥品种3</option>
                            <option value="3">水泥品种4</option>
                        </select>
                    </td>
                    <th>水泥3：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.cement3">
                            <option value="">---请选择---</option>
                            <option value="0">水泥品种1</option>
                            <option value="1">水泥品种2</option>
                            <option value="2">水泥品种3</option>
                            <option value="3">水泥品种4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>坍落度：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.slump" placeholder="坍落度"/></td>
                    <th>砂子1：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.sand1">
                            <option value="">---请选择---</option>
                            <option value="0">砂子种类1</option>
                            <option value="1">砂子种类2</option>
                            <option value="2">砂子种类3</option>
                            <option value="3">砂子种类4</option>
                        </select>
                    </td>
                    <th>砂子2：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.sand2">
                            <option value="">---请选择---</option>
                            <option value="0">砂子种类1</option>
                            <option value="1">砂子种类2</option>
                            <option value="2">砂子种类3</option>
                            <option value="3">砂子种类4</option>
                        </select>
                    </td>
                    <th>砂子31：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.sand3">
                            <option value="">---请选择---</option>
                            <option value="0">砂子种类1</option>
                            <option value="1">砂子种类2</option>
                            <option value="2">砂子种类3</option>
                            <option value="3">砂子种类4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>大石量：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.bigStone"/></td>
                    <th>中石量：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.middleStone"/></td>
                    <th>小石量：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.smallStone"/></td>
                    <th>粉煤灰：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.flyash"/></td>
                </tr>
                <tr>
                    <th>外加剂1：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.additive1"/></td>
                    <th>外加剂2：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.additive2"/></td>
                    <th>外加剂3：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.additive3"/></td>
                    <th>外加剂4：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.additive4"/></td>
                </tr>
                <tr>
                    <th>矿粉：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.minePowder"/></td>
                    <th>强度等级C：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.intensityLevel">
                            <option value="">---请选择---</option>
                            <option value="C15">C15</option>
                            <option value="C20">C20</option>
                            <option value="C25">C25</option>
                            <option value="C30">C30</option>
                            <option value="C35">C35</option>
                            <option value="C40">C40</option>
                            <option value="C45">C45</option>
                            <option value="C50">C50</option>
                            <option value="C55">C55</option>
                            <option value="C60">C60</option>
                        </select>
                    </td>
                    <th>抗渗等级P：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.impermeabilityLevel">
                            <option value="">---请选择---</option>
                            <option value="P4">P4</option>
                            <option value="P6">P6</option>
                            <option value="P8">P8</option>
                            <option value="P10">P10</option>
                            <option value="P12">P12</option>
                        </select>
                    </td>
                    <th>抗折等级Z：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.bendLevel">
                            <option value="">---请选择---</option>
                            <option value="Z100">Z100</option>
                            <option value="Z101">Z101</option>
                            <option value="Z102">Z102</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>水：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.water"/></td>
                    <th>砂等级：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.sandLevel">
                            <option value="">---请选择---</option>
                            <option value="0">砂等级1</option>
                            <option value="1">砂等级2</option>
                            <option value="2">砂等级3</option>
                        </select>
                    </td>
                    <th>石子粒径：</th>
                    <td>
                        <select style="width:150px" v-model="recipe.stoneDiameter">
                            <option value="">---请选择---</option>
                            <option value="0">石子粒径1</option>
                            <option value="1">石子粒径2</option>
                            <option value="2">石子粒径3</option>
                            <option value="3">石子粒径4</option>
                        </select>
                    </td>
                    <th>表观密度：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.apparentDensity"/></td>
                </tr>

                <tr>
                    <th>其他1：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.other1"/></td>
                    <th>其他2：</th>
                    <td><input type="text" style="width:150px" v-model="recipe.other2"/></td>
                </tr>


            </table>
        </form>
    </div>




    <div class="form-group" v-show="!showList">
        <div class="col-sm-2 control-label"></div>
        <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="保存"/>
        &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
    </div>


</div>


<script src="${request.contextPath}/js/modules/produce/recipe.js"></script>
